:root {
    --primary-color: #3347B0;
    --golden: #e5b657;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--primary-color);
    justify-content: space-between;
    padding: 0 100px 0 100px;
}

.logo {
    display: flex;
    width: 10px;
    gap: 10px;
    align-items: center;
}

.logo span {
    font-size: 24px;
    color: white;
    font-weight: 600;
}

.sair {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.sair span {
    font-size: 32px;
    color: white;
}

main {
    flex-grow: 1;
}

footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: var(--primary-color);
    justify-content: space-evenly;
    color: white;
}

.frame {
    display: flex;
    justify-content: space-between;
    width: 87%;
    align-items: center;
}

.info {
    display: flex;
    gap: 20px;
}

.info .icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.dados {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.copyright {
    font-size: 20px;
}

.redes-sociais {
    display: flex;
    gap: 20px;
}

.border {
    display: flex;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid white;
}

/* Tela HOME */
.main-home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    width: 87%;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 471px;
    font-size: 57px;
    font-weight: 200;
    gap: 50px;
}

.hero-left p span {
    color: var(--primary-color);
    font-weight: bold;
}

.hero-right {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

button {
    cursor: pointer;
}

.botoes {
    display: flex;
    width: 400px;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    gap: 20px;
    border: none;
    box-shadow: 12px 12px 6px #3347B080;
    transition: 0.3s;
}

.botoes span {
    font-size: 64px;
    color: white;
}

.icon-curso {
    display: flex;
    width: 100px;
}

.botoes:hover {
    transform: translateY(-2.5px) scale(1);

}

/* RESPONSIVIDADE MOBILE - HOME */
@media (max-width: 375px) {
    header {
        padding: 10px 20px;
    }

    .sair span {
        display: none;
    }

    .sair img {
        width: 34px;
        height: 30px;
    }

    .hero {
        margin-top: 50px;
        flex-direction: column;
        gap: 60px;
    }

    .hero-left {
        width: 280px;
        font-size: 30px;
        text-align: center;
    }

    .hero-left img {
        display: none;
    }

    .hero-center img {
        width: 194px;
        height: 331px;
    }

    .hero-right {
        align-items: center;
        margin-bottom: 70px;
    }

    .btn-ds {
        display: flex;
        width: 175px;
        height: 175px;
    }

    .btn-ds img {
        display: none;
    }

    .redes {
        display: flex;
        width: 175px;
        height: 175px;
    }

    .redes img {
        display: none;
    }

    .redes span {
        font-size: 40px;
    }

    footer {
        height: auto;
    }

    .frame {
        flex-direction: column;
        height: 360px;
        justify-content: center;
        gap: 60px;
    }

    .copyright {
        font-size: 12px;
        order: 3;
    }
}

/* Tela Alunos do Curso */
.header-status {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #BCC2E5;
    padding: 0 100px 0 100px;
    justify-content: space-between;
    color: #3347B0;
    font-weight: 500;
}

.status-left select {
    display: flex;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    font-weight: 500;
    outline: none;
}

.status-right {
    display: flex;
    gap: 20px;
}


.box {
    display: flex;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}

.cursando {
    display: flex;
    gap: 10px;
}

.finalizado {
    display: flex;
    gap: 10px;
}

.azul {
    background-color: var(--primary-color);
}

.amarelo {
    background-color: #E5B657;
}

.hero-alunos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero-alunos h1 {
    font-size: 60px;
    color: var(--primary-color);
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 50px 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    justify-content: center;
    gap: 65px;
    width: 100%;
    padding-bottom: 70px;
}

.card {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 10px 0;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 15px 18px 20px rgba(0, 0, 0, 0.45);
}

.card:hover img {
    transform: scale(1.1);
}

.card img {
    transition: transform 0.3s ease;
}

.card.cursando { 
    background-color: var(--primary-color); 
}
.card.finalizado { 
    background-color: var(--golden); 
}

.card img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    object-fit: cover;
}

.card span {
    width: 85%;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.4);
}

.main-turma {
    display: flex;
    flex-direction: column;
}